@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
margin: o;
padding: o;
box-sizing: border-box;
width: 100%;
font-family:'poppins',sans-serif ;

}
#navbar{
    position: sticky;
    top: 0;
    background: rgb(244, 244, 245);
    z-index: 10;
}

.bold{
    font-size: 25px;
}
li{
    padding: 5px;
}
.nav-link{
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
}
.nav-link:hover{
    border-bottom: 2px solid blue;
}

#about img{
    background-color: rgb(29, 2, 2);
}


/*contact*/

/* ---contact--- */
form{
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0.2),
    -1px -1px 5px  rgba(0,0,0.05) ;
    border-radius: 30px;
}
h5{
    font-weight: bold;}

    .footer svg{
        font-size: 50px;
    }

    #contact{
        background-color: bisque;
        text-align: center;
        position: relative;

    }

